@@include('./partials/header.hbs', {
	"title" : "Home Page"
})

<section class="hero">
	<div class="container">
		<h1>Closer to what you want</h1>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique a dolorem doloribus. Doloribus quis consequatur labore, excepturi aliquam illo alias ipsam, accusamus aut possimus minima obcaecati quidem fugit adipisci ipsum?</h2>
		<a href="">Enter Now</a>
		<img src="assets/images/filler.png" alt="">
	</div>
</section>

@@include('./partials/footer.hbs')